body {
    margin: 0 ;
    min-height: 100vh;
    position: relative;
    background: white;
}
a {
    text-decoration: none;
}
input {
    display: block;
    width: 400px;
    border-radius: 5px;
    border: 1px solid rgb(141, 141, 141);
    margin: 20px 0;
    padding: 10px 5px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-size: 20px;
}
input:focus {
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
button {
    background: #00828C;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid white;
}
button:hover {
    cursor: pointer;
    border-radius: 5px;
    background: white;
    border: 1px solid black;
    color: black;
    transition: 0.5s;
}
button:focus {
    outline: none;
    border: 1px solid black;
}
label {
    font-size: 20px;
}
.container {
    overflow: hidden;
    width: 80%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.container::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background: #00828C;
}
.cover-left {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.cover-right {
    position: absolute;
    top: 40%;
    right: 0;
    transform: translate(-50%, -50%);
    color: white;
}
.mx-auto {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.hidden {
    display: none;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    }
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
    }
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #000;
    margin: -3px 0 0 -3px;
    }
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
    }
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
    }
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
    }
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
    }
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
    }
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
    }
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
    }
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
    }
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
    }
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
    }
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
    }
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
    }
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
    }
.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
    }
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
    }
.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
    }
    @keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }